.frame {
    width: 100%;
    height: 978px;

  }
  
  .frame .div {
    position: relative;
    width: 1483px;
    height: 912px;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  
  .frame .employee {
    display: flex;
    flex-direction: column;
    width: 730px;
    align-items: flex-start;
    gap: 17px;
    padding: 10px;
    position: absolute;
    top: 585px;
    left: 760px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid;
    border-color: #cecece;
  }
  
  .frame .title {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--head-kakao-28px-font-family);
    font-weight: var(--head-kakao-28px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-28px-font-size);
    letter-spacing: var(--head-kakao-28px-letter-spacing);
    line-height: var(--head-kakao-28px-line-height);
    font-style: var(--head-kakao-28px-font-style);
  }
  
  .frame .content {
    display: flex;
    flex-direction: column;
    height: 251px;
    align-items: flex-start;
    gap: 18px;
    padding: 0px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
  }
  
  .frame .div-2 {
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #cecece;
  }
  
  .frame .div-wrapper {
    display: flex;
    height: 38px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frame .text-wrapper {
    width: fit-content;
    margin-top: -6.00px;
    margin-bottom: -4.00px;
    font-family: var(--head-kakao-20px-font-family);
    font-weight: var(--head-kakao-20px-font-weight);
    color: var(--fontdeepdarkgray);
    font-size: var(--head-kakao-20px-font-size);
    line-height: var(--head-kakao-20px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--head-kakao-20px-letter-spacing);
    font-style: var(--head-kakao-20px-font-style);
  }
  
  .frame .div-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .notion {
    display: flex;
    flex-direction: column;
    width: 723px;
    height: 286px;
    align-items: flex-start;
    gap: 12px;
    padding: 10px;
    position: absolute;
    top: 2px;
    left: 760px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid;
    border-color: #cecece;
  }
  
  .frame .title-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .icon {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .frame .megaphone-bullhorn {
    position: absolute;
    width: 20px;
    height: 19px;
    top: 1px;
    left: 0;
  }
  
  .frame .text-wrapper-2 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--head-kakao-24px-font-family);
    font-weight: var(--head-kakao-24px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-24px-font-size);
    line-height: var(--head-kakao-24px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--head-kakao-24px-letter-spacing);
    font-style: var(--head-kakao-24px-font-style);
  }
  
  .frame .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #cacaca;
  }
  
  .frame .text-wrapper-3 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--head-kakao-20px-font-family);
    font-weight: var(--head-kakao-20px-font-weight);
    color: #505050;
    font-size: var(--head-kakao-20px-font-size);
    line-height: var(--head-kakao-20px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--head-kakao-20px-letter-spacing);
    font-style: var(--head-kakao-20px-font-style);
  }
  
  .frame .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: var(--head-kakao-16px-font-family);
    font-weight: var(--head-kakao-16px-font-weight);
    color: #505050;
    font-size: var(--head-kakao-16px-font-size);
    letter-spacing: var(--head-kakao-16px-letter-spacing);
    line-height: var(--head-kakao-16px-line-height);
    white-space: nowrap;
    font-style: var(--head-kakao-16px-font-style);
  }
  
  .frame .line-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #cacaca;
  }
  
  .frame .inventory {
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 530px;
    align-items: flex-start;
    gap: 18px;
    padding: 10px;
    position: absolute;
    top: 382px;
    left: 0;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid;
    border-color: #cecece;
  }
  
  .frame .top {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .title-3 {
    display: inline-flex;
    height: 25px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .text-wrapper-5 {
    width: fit-content;
    margin-top: -2.50px;
    margin-bottom: -0.50px;
    font-family: var(--head-kakao-20px-font-family);
    font-weight: var(--head-kakao-20px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-20px-font-size);
    text-align: center;
    line-height: var(--head-kakao-20px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--head-kakao-20px-letter-spacing);
    font-style: var(--head-kakao-20px-font-style);
  }
  
  .frame .filter {
    display: flex;
    width: 210px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--fontgray);
  }
  
  .frame .text-wrapper-6 {
    width: fit-content;
    font-family: var(--body-kakao-18px-font-family);
    font-weight: var(--body-kakao-18px-font-weight);
    color: var(--fontdeepdarkgray);
    font-size: var(--body-kakao-18px-font-size);
    line-height: var(--body-kakao-18px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--body-kakao-18px-letter-spacing);
    font-style: var(--body-kakao-18px-font-style);
  }
  
  .frame .polygon {
    position: relative;
    width: 13.64px;
    height: 7.83px;
  }
  
  .frame .list {
    gap: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #cecece;
  }
  
  .frame .div-wrapper-2 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .text-wrapper-7 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--head-kakao-16px-font-family);
    font-weight: var(--head-kakao-16px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-16px-font-size);
    line-height: var(--head-kakao-16px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--head-kakao-16px-letter-spacing);
    font-style: var(--head-kakao-16px-font-style);
  }
  
  .frame .div-wrapper-3 {
    display: flex;
    width: 299px;
    align-items: center;
    padding: 10px;
    position: relative;
  }
  
  .frame .div-wrapper-4 {
    display: flex;
    width: 51px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
  }
  
  .frame .div-wrapper-5 {
    display: flex;
    width: 70px;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
  }
  
  .frame .body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .line-3 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #fffcec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #cecece;
  }
  
  .frame .div-wrapper-6 {
    display: flex;
    width: 65px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
  }
  
  .frame .div-wrapper-7 {
    display: flex;
    width: 301px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
  }
  
  .frame .text-wrapper-8 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--head-kakao-16px-font-family);
    font-weight: var(--head-kakao-16px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-16px-font-size);
    text-align: center;
    line-height: var(--head-kakao-16px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--head-kakao-16px-letter-spacing);
    font-style: var(--head-kakao-16px-font-style);
  }
  
  .frame .div-wrapper-8 {
    display: flex;
    width: 45px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
  }
  
  .frame .div-wrapper-9 {
    display: flex;
    width: 88px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
  }
  
  .frame .text-wrapper-9 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--head-kakao-16px-font-family);
    font-weight: var(--head-kakao-16px-font-weight);
    color: var(--stateerror);
    font-size: var(--head-kakao-16px-font-size);
    line-height: var(--head-kakao-16px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--head-kakao-16px-letter-spacing);
    font-style: var(--head-kakao-16px-font-style);
  }
  
  .frame .inquire {
    display: flex;
    flex-direction: column;
    width: 723px;
    height: 242px;
    align-items: flex-start;
    gap: 12px;
    padding: 10px;
    position: absolute;
    top: 312px;
    left: 760px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid;
    border-color: #cecece;
  }
  
  .frame .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--head-kakao-28px-font-family);
    font-weight: var(--head-kakao-28px-font-weight);
    color: var(--variable-collection-font-brown);
    font-size: var(--head-kakao-28px-font-size);
    letter-spacing: var(--head-kakao-28px-letter-spacing);
    line-height: var(--head-kakao-28px-line-height);
    white-space: nowrap;
    font-style: var(--head-kakao-28px-font-style);
  }
  
  .frame .text-wrapper-11 {
    width: fit-content;
    font-family: var(--head-kakao-24px-font-family);
    font-weight: var(--head-kakao-24px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-24px-font-size);
    line-height: var(--head-kakao-24px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--head-kakao-24px-letter-spacing);
    font-style: var(--head-kakao-24px-font-style);
  }
  
  .frame .daily-chart {
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 358px;
    align-items: flex-start;
    padding: 10px;
    position: absolute;
    top: 2px;
    left: 0;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid;
    border-color: #cecece;
  }
  
  .frame .text-wrapper-12 {
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--head-kakao-24px-font-family);
    font-weight: var(--head-kakao-24px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-24px-font-size);
    line-height: var(--head-kakao-24px-line-height);
    position: relative;
    letter-spacing: var(--head-kakao-24px-letter-spacing);
    font-style: var(--head-kakao-24px-font-style);
  }
  
  .frame .div-4 {
    display: flex;
    height: 304px;
    align-items: flex-start;
    gap: 7px;
    position: relative;
    align-self: stretch;
    width: 100%;
  }
  
  .frame .chart {
    position: relative;
    width: 350px;
    height: 314px;
    margin-bottom: -10.00px;
  }
  
  .frame .div-5 {
    display: flex;
    flex-direction: column;
    height: 304px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frame .div-6 {
    display: flex;
    flex-direction: column;
    width: 345px;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .div-7 {
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border: 1px solid;
    border-color: #cecece;
  }
  
  .frame .div-wrapper-10 {
    display: flex;
    height: 17px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frame .text-wrapper-13 {
    width: fit-content;
    margin-top: -9.50px;
    margin-bottom: -7.50px;
    font-family: var(--head-kakao-10px-font-family);
    font-weight: var(--head-kakao-10px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-10px-font-size);
    line-height: var(--head-kakao-10px-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--head-kakao-10px-letter-spacing);
    font-style: var(--head-kakao-10px-font-style);
  }
  
  .frame .div-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .div-9 {
    display: flex;
    flex-direction: column;
    width: 345px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .element-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .element {
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--head-kakao-14px-font-family);
    font-weight: var(--head-kakao-14px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-14px-font-size);
    text-align: right;
    line-height: var(--head-kakao-14px-line-height);
    position: relative;
    letter-spacing: var(--head-kakao-14px-letter-spacing);
    font-style: var(--head-kakao-14px-font-style);
  }
  
  .frame .span {
    font-family: var(--head-kakao-14px-font-family);
    font-weight: var(--head-kakao-14px-font-weight);
    color: #000000;
    font-size: var(--head-kakao-14px-font-size);
    letter-spacing: var(--head-kakao-14px-letter-spacing);
    line-height: var(--head-kakao-14px-line-height);
    font-style: var(--head-kakao-14px-font-style);
  }
  
  .frame .text-wrapper-14 {
    font-family: var(--head-kakao-14px-font-family);
    font-weight: var(--head-kakao-14px-font-weight);
    font-style: var(--head-kakao-14px-font-style);
    letter-spacing: var(--head-kakao-14px-letter-spacing);
    line-height: var(--head-kakao-14px-line-height);
    font-size: var(--head-kakao-14px-font-size);
  }
  