.main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
  }
  
  .main .container {
    display: flex;
    flex-direction: column;
    width: 1530px;
    align-items: flex-start;
    gap: 60px;
    position: relative;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .main .header {
    display: flex;
    height: 97px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid;
    border-color: #c9c9c9;
  }
  
  .main .left-line {
    position: relative;
    width: 569px;
    height: 69px;
    font-family: "Kakao OTF-Bold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 32px;
  }
  
  .main .text-wrapper {
    font-weight: var(--head-kakao-32px-font-weight);
    color: #ec9f23;
    line-height: var(--head-kakao-32px-line-height);
    font-family: var(--head-kakao-32px-font-family);
    font-style: var(--head-kakao-32px-font-style);
    letter-spacing: var(--head-kakao-32px-letter-spacing);
    font-size: var(--head-kakao-32px-font-size);
  }
  
  .main .span {
    font-family: var(--body-kakao-18px-font-family);
    color: #565656;
    font-size: var(--body-kakao-18px-font-size);
    line-height: var(--body-kakao-18px-line-height);
    font-style: var(--body-kakao-18px-font-style);
    font-weight: var(--body-kakao-18px-font-weight);
    letter-spacing: var(--body-kakao-18px-letter-spacing);
  }
  
  .main .right-line {
    position: relative;
    width: 145px;
    height: 37px;
    font-family: var(--head-kakao-24px-font-family);
    font-weight: var(--head-kakao-24px-font-weight);
    color: var(--fontdeepyellow);
    font-size: var(--head-kakao-24px-font-size);
    letter-spacing: var(--head-kakao-24px-letter-spacing);
    line-height: var(--head-kakao-24px-line-height);
    white-space: nowrap;
    font-style: var(--head-kakao-24px-font-style);
  }
  
  .main .form {
    display: flex;
    height: 630px;
    align-items: center;
    justify-content: center;
    gap: 65px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--backgroundwhite);
    border-radius: 15px;
    border: 1px solid;
    border-color: #c9c9c9;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .main .image {
    position: relative;
    width: 370px;
    height: 370px;
  }
  
  .main .frame {
    height: 370px;
    border-radius: 5px;
    border: 2px solid;
    border-color: var(--fontgray);
    background-image: url(./img/frame-1000003148.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .main .column {
    display: inline-flex;
    align-items: center;
    gap: 73px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .main .list {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: flex-start;
    gap: 60px;
    position: relative;
  }
  
  .main .div {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main .p {
    width: 100px;
    height: 32px;
    color: transparent;
    font-size: 24px;
    line-height: 32px;
    white-space: nowrap;
    position: relative;
    font-family: "Kakao OTF-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .main .text-wrapper-2 {
    color: #565656;
  }
  
  .main .text-wrapper-3 {
    color: #ff435c;
  }
  
  .main .select {
    display: flex;
    width: 330px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--fontgray);
  }
  
  .main .el {
    position: relative;
    width: fit-content;
    font-family: var(--body-kakao-18px-font-family);
    font-weight: var(--body-kakao-18px-font-weight);
    color: var(--fontdeepdarkgray);
    font-size: var(--body-kakao-18px-font-size);
    letter-spacing: var(--body-kakao-18px-letter-spacing);
    line-height: var(--body-kakao-18px-line-height);
    white-space: nowrap;
    font-style: var(--body-kakao-18px-font-style);
  }
  
  .main .icon {
    position: relative;
    width: 13.64px;
    height: 7.83px;
  }
  
  .main .menu-name {
    width: 330px;
    height: 40px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--fontgray);
    display: flex;
    position: relative;
  }
  
  .main .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -4.00px;
    margin-bottom: -2.00px;
    font-family: var(--body-kakao-18px-font-family);
    font-weight: var(--body-kakao-18px-font-weight);
    color: #000000;
    font-size: var(--body-kakao-18px-font-size);
    letter-spacing: var(--body-kakao-18px-letter-spacing);
    line-height: var(--body-kakao-18px-line-height);
    white-space: nowrap;
    font-style: var(--body-kakao-18px-font-style);
  }
  
  .main .div-2 {
    display: flex;
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--fontgray);
  }
  
  .main .menu-descript {
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
  }
  
  .main .menu-descript-2 {
    position: relative;
    width: 100px;
    height: 32px;
    margin-top: -1.00px;
    font-family: "Kakao OTF-Regular", Helvetica;
    font-weight: 400;
    color: var(--fontdeepdarkgray);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .main .menu-description {
    width: 330px;
    height: 200px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--fontgray);
    display: flex;
    position: relative;
  }
  
  .main .text-wrapper-5 {
    flex: 1;
    align-self: stretch;
    margin-top: -1.00px;
    color: #000000;
    font-size: var(--body-kakao-18px-font-size);
    line-height: var(--body-kakao-18px-line-height);
    position: relative;
    font-family: var(--body-kakao-18px-font-family);
    font-weight: var(--body-kakao-18px-font-weight);
    letter-spacing: var(--body-kakao-18px-letter-spacing);
    font-style: var(--body-kakao-18px-font-style);
  }
  
  .main .column-2 {
    display: flex;
    flex-direction: column;
    width: 521px;
    height: 630px;
    align-items: flex-start;
    gap: 60px;
    padding: 65px 0px;
    position: relative;
  }
  
  .main .list-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main .text-wrapper-6 {
    position: relative;
    width: 200px;
    height: 32px;
    font-family: "Kakao OTF-Regular", Helvetica;
    font-weight: 400;
    color: var(--fontdeepdarkgray);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .main .menu-info {
    height: 100px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .main .menu-info-2 {
    position: relative;
    width: 200px;
    height: 32px;
    margin-top: -1.00px;
    font-family: "Kakao OTF-Regular", Helvetica;
    font-weight: 400;
    color: var(--fontdeepdarkgray);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .main .info {
    display: flex;
    width: 300px;
    height: 100px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--fontgray);
  }
  
  .main .sale-status {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .main .push-bar {
    display: flex;
    width: 68px;
    height: 35px;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 3px;
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid;
    border-color: var(--fontdarkgray);
  }
  
  .main .ellipse {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: -7.50px;
    margin-bottom: -7.50px;
    background-color: var(--fontdeepdarkgray);
    border-radius: 15px;
  }
  
  .main .register-date {
    display: flex;
    width: 300px;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: relative;
    margin-right: -1.00px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #c4c4c4;
  }
  
  .main .date {
    position: relative;
    width: fit-content;
    font-family: "Kakao OTF-Regular", Helvetica;
    font-weight: 400;
    color: var(--fontdeepdarkgray);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .main .img {
    position: relative;
    width: 27px;
    height: 33px;
  }
  
  .main .end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 26px;
    padding: 20px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -62.00px;
  }
  
  .main .update-btn {
    display: flex;
    width: 118px;
    height: 63px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: var(--buttonprimary);
    border-radius: 10px;
  }
  
  .main .text-wrapper-7 {
    position: relative;
    width: fit-content;
    font-family: var(--head-kakao-32px-font-family);
    font-weight: var(--head-kakao-32px-font-weight);
    color: #ffffff;
    font-size: var(--head-kakao-32px-font-size);
    letter-spacing: var(--head-kakao-32px-letter-spacing);
    line-height: var(--head-kakao-32px-line-height);
    white-space: nowrap;
    font-style: var(--head-kakao-32px-font-style);
  }
  
  .main .delete-btn {
    display: flex;
    width: 118px;
    height: 63px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #ef3826;
    border-radius: 10px;
  }
  