:root {
  --blandprimary: rgba(236, 159, 35, 1);
  --blandsecondary: rgba(235, 231, 127, 1);
  --stateinfo: rgba(132, 161, 255, 1);
  --statesuccess: rgba(120, 240, 142, 1);
  --statewaring: rgba(255, 124, 242, 1);
  --stateerror: rgba(255, 67, 92, 1);
  --backgroundprimary: rgba(255, 252, 236, 1);
  --backgroundsecondary: rgba(255, 252, 236, 1);
  --backgroundblack: rgba(0, 0, 0, 1);
  --backgroundwhite: rgba(255, 255, 255, 1);
  --backgroundbeige: rgba(249, 230, 201, 1);
  --lineblack: rgba(30, 30, 30, 1);
  --linedarkgray: rgba(136, 136, 136, 1);
  --linelightgray: rgba(217, 217, 217, 1);
  --linewhite: rgba(255, 255, 255, 1);
  --fontblack: rgba(0, 0, 0, 1);
  --fontdeepdarkgray: rgba(87, 87, 87, 1);
  --fontdarkgray: rgba(136, 136, 136, 1);
  --fontgray: rgba(189, 189, 189, 1);
  --fontlightgray: rgba(217, 217, 217, 1);
  --fontwhite: rgba(255, 255, 255, 1);
  --fontdeepyellow: rgba(236, 159, 35, 1);
  --buttonprimary: rgba(255, 170, 34, 1);
  --buttonsecondary: rgba(235, 231, 127, 1);
  --buttonfluoreyellow: rgba(244, 255, 157, 1);
  --buttonlightyellow: rgba(250, 194, 104, 1);
  --buttonwhite: rgba(255, 255, 255, 1);
  --inputgray: rgba(240, 239, 239, 1);
  --inputwhite: rgba(255, 255, 255, 1);
  --tableheadprimary: rgba(252, 253, 253, 1);
  --tableheadsecondary: rgba(250, 250, 250, 1);
  --tablebodywhite: rgba(255, 255, 255, 1);
  --bordergray: rgba(191, 191, 191, 1);
  --borderlightgray: rgba(211, 211, 211, 1);
  --graphblue: rgba(86, 135, 242, 1);
  --graphdip-yellow: rgba(214, 187, 115, 1);
  --graphhot-pink: rgba(234, 58, 136, 1);
  --lightbackgroundprimary: rgba(255, 255, 255, 1);
  --lightgrayscale-400: rgba(232, 232, 232, 1);
  --head-kakao-56px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-56px-font-weight: 700;
  --head-kakao-56px-font-size: 56px;
  --head-kakao-56px-letter-spacing: 0px;
  --head-kakao-56px-line-height: 139.9999976158142%;
  --head-kakao-56px-font-style: normal;
  --head-kakao-48px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-48px-font-weight: 700;
  --head-kakao-48px-font-size: 48px;
  --head-kakao-48px-letter-spacing: 0px;
  --head-kakao-48px-line-height: 139.9999976158142%;
  --head-kakao-48px-font-style: normal;
  --head-kakao-40px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-40px-font-weight: 700;
  --head-kakao-40px-font-size: 40px;
  --head-kakao-40px-letter-spacing: 0px;
  --head-kakao-40px-line-height: 139.9999976158142%;
  --head-kakao-40px-font-style: normal;
  --head-kakao-32px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-32px-font-weight: 700;
  --head-kakao-32px-font-size: 32px;
  --head-kakao-32px-letter-spacing: 0px;
  --head-kakao-32px-line-height: 35px;
  --head-kakao-32px-font-style: normal;
  --head-kakao-24px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-24px-font-weight: 700;
  --head-kakao-24px-font-size: 24px;
  --head-kakao-24px-letter-spacing: 0px;
  --head-kakao-24px-line-height: 139.9999976158142%;
  --head-kakao-24px-font-style: normal;
  --head-kakao-20px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-20px-font-weight: 700;
  --head-kakao-20px-font-size: 20px;
  --head-kakao-20px-letter-spacing: 0px;
  --head-kakao-20px-line-height: 139.9999976158142%;
  --head-kakao-20px-font-style: normal;
  --head-kakao-16px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-16px-font-weight: 700;
  --head-kakao-16px-font-size: 14px;
  --head-kakao-16px-letter-spacing: 0px;
  --head-kakao-16px-line-height: 139.9999976158142%;
  --head-kakao-16px-font-style: normal;
  --head-kakao-14px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-14px-font-weight: 700;
  --head-kakao-14px-font-size: 16px;
  --head-kakao-14px-letter-spacing: 0px;
  --head-kakao-14px-line-height: 139.9999976158142%;
  --head-kakao-14px-font-style: normal;
  --head-kakao-28px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-28px-font-weight: 700;
  --head-kakao-28px-font-size: 28px;
  --head-kakao-28px-letter-spacing: 0px;
  --head-kakao-28px-line-height: 139.9999976158142%;
  --head-kakao-28px-font-style: normal;
  --head-kakao-10px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-10px-font-weight: 700;
  --head-kakao-10px-font-size: 10px;
  --head-kakao-10px-letter-spacing: 0px;
  --head-kakao-10px-line-height: 139.9999976158142%;
  --head-kakao-10px-font-style: normal;
  --head-kakao-8px-font-family: "Kakao OTF", Helvetica;
  --head-kakao-8px-font-weight: 700;
  --head-kakao-8px-font-size: 8px;
  --head-kakao-8px-letter-spacing: 0px;
  --head-kakao-8px-line-height: 139.9999976158142%;
  --head-kakao-8px-font-style: normal;
  --head-serif-56px-font-family: "Inria Serif", Helvetica;
  --head-serif-56px-font-weight: 700;
  --head-serif-56px-font-size: 56px;
  --head-serif-56px-letter-spacing: 0px;
  --head-serif-56px-line-height: 139.9999976158142%;
  --head-serif-56px-font-style: normal;
  --head-serif-48px-font-family: "Inria Serif", Helvetica;
  --head-serif-48px-font-weight: 700;
  --head-serif-48px-font-size: 48px;
  --head-serif-48px-letter-spacing: 0px;
  --head-serif-48px-line-height: 139.9999976158142%;
  --head-serif-48px-font-style: normal;
  --head-serif-40px-font-family: "Inria Serif", Helvetica;
  --head-serif-40px-font-weight: 700;
  --head-serif-40px-font-size: 40px;
  --head-serif-40px-letter-spacing: 0px;
  --head-serif-40px-line-height: 139.9999976158142%;
  --head-serif-40px-font-style: normal;
  --head-serif-32px-font-family: "Inria Serif", Helvetica;
  --head-serif-32px-font-weight: 700;
  --head-serif-32px-font-size: 30px;
  --head-serif-32px-letter-spacing: 0px;
  --head-serif-32px-line-height: 139.9999976158142%;
  --head-serif-32px-font-style: normal;
  --head-serif-24px-font-family: "Inria Serif", Helvetica;
  --head-serif-24px-font-weight: 700;
  --head-serif-24px-font-size: 24px;
  --head-serif-24px-letter-spacing: 0px;
  --head-serif-24px-line-height: 139.9999976158142%;
  --head-serif-24px-font-style: normal;
  --head-serif-20px-font-family: "Inria Serif", Helvetica;
  --head-serif-20px-font-weight: 700;
  --head-serif-20px-font-size: 20px;
  --head-serif-20px-letter-spacing: 0px;
  --head-serif-20px-line-height: 139.9999976158142%;
  --head-serif-20px-font-style: normal;
  --head-serif-16px-font-family: "Inria Serif", Helvetica;
  --head-serif-16px-font-weight: 700;
  --head-serif-16px-font-size: 24px;
  --head-serif-16px-letter-spacing: 0px;
  --head-serif-16px-line-height: 139.9999976158142%;
  --head-serif-16px-font-style: normal;
  --head-serif-14px-font-family: "Inria Serif", Helvetica;
  --head-serif-14px-font-weight: 700;
  --head-serif-14px-font-size: 14px;
  --head-serif-14px-letter-spacing: 0px;
  --head-serif-14px-line-height: 40px;
  --head-serif-14px-font-style: normal;
  --title-kakao-32px-font-family: "Kakao OTF", Helvetica;
  --title-kakao-32px-font-weight: 700;
  --title-kakao-32px-font-size: 32px;
  --title-kakao-32px-letter-spacing: 0px;
  --title-kakao-32px-line-height: 139.9999976158142%;
  --title-kakao-32px-font-style: normal;
  --title-kakao-28px-font-family: "Kakao OTF", Helvetica;
  --title-kakao-28px-font-weight: 700;
  --title-kakao-28px-font-size: 28px;
  --title-kakao-28px-letter-spacing: 0px;
  --title-kakao-28px-line-height: 139.9999976158142%;
  --title-kakao-28px-font-style: normal;
  --title-kakao-24px-font-family: "Kakao OTF", Helvetica;
  --title-kakao-24px-font-weight: 700;
  --title-kakao-24px-font-size: 24px;
  --title-kakao-24px-letter-spacing: 0px;
  --title-kakao-24px-line-height: 139.9999976158142%;
  --title-kakao-24px-font-style: normal;
  --title-kakao-20px-font-family: "Kakao OTF", Helvetica;
  --title-kakao-20px-font-weight: 700;
  --title-kakao-20px-font-size: 20px;
  --title-kakao-20px-letter-spacing: 0px;
  --title-kakao-20px-line-height: 139.9999976158142%;
  --title-kakao-20px-font-style: normal;
  --title-kakao-16px-font-family: "Kakao OTF", Helvetica;
  --title-kakao-16px-font-weight: 700;
  --title-kakao-16px-font-size: 16px;
  --title-kakao-16px-letter-spacing: 0px;
  --title-kakao-16px-line-height: 139.9999976158142%;
  --title-kakao-16px-font-style: normal;
  --title-kakao-14px-font-family: "Kakao OTF", Helvetica;
  --title-kakao-14px-font-weight: 700;
  --title-kakao-14px-font-size: 14px;
  --title-kakao-14px-letter-spacing: 0px;
  --title-kakao-14px-line-height: 20px;
  --title-kakao-14px-font-style: normal;
  --title-serif-32px-font-family: "Inria Serif", Helvetica;
  --title-serif-32px-font-weight: 700;
  --title-serif-32px-font-size: 32px;
  --title-serif-32px-letter-spacing: 0px;
  --title-serif-32px-line-height: 139.9999976158142%;
  --title-serif-32px-font-style: normal;
  --title-serif-28px-font-family: "Inria Serif", Helvetica;
  --title-serif-28px-font-weight: 700;
  --title-serif-28px-font-size: 28px;
  --title-serif-28px-letter-spacing: 0px;
  --title-serif-28px-line-height: 139.9999976158142%;
  --title-serif-28px-font-style: normal;
  --title-serif-24px-font-family: "Inria Serif", Helvetica;
  --title-serif-24px-font-weight: 700;
  --title-serif-24px-font-size: 24px;
  --title-serif-24px-letter-spacing: 0px;
  --title-serif-24px-line-height: 139.9999976158142%;
  --title-serif-24px-font-style: normal;
  --title-serif-20px-font-family: "Inria Serif", Helvetica;
  --title-serif-20px-font-weight: 700;
  --title-serif-20px-font-size: 20px;
  --title-serif-20px-letter-spacing: 0px;
  --title-serif-20px-line-height: 139.9999976158142%;
  --title-serif-20px-font-style: normal;
  --title-serif-16px-font-family: "Inria Serif", Helvetica;
  --title-serif-16px-font-weight: 700;
  --title-serif-16px-font-size: 16px;
  --title-serif-16px-letter-spacing: 0px;
  --title-serif-16px-line-height: 139.9999976158142%;
  --title-serif-16px-font-style: normal;
  --title-serif-14px-font-family: "Inria Serif", Helvetica;
  --title-serif-14px-font-weight: 700;
  --title-serif-14px-font-size: 14px;
  --title-serif-14px-letter-spacing: 0px;
  --title-serif-14px-line-height: 139.9999976158142%;
  --title-serif-14px-font-style: normal;
  --body-kakao-18px-font-family: "Kakao OTF", Helvetica;
  --body-kakao-18px-font-weight: 400;
  --body-kakao-18px-font-size: 20px;
  --body-kakao-18px-letter-spacing: 0px;
  --body-kakao-18px-line-height: 26px;
  --body-kakao-18px-font-style: normal;
  --body-kakao-14px-font-family: "Kakao OTF", Helvetica;
  --body-kakao-14px-font-weight: 400;
  --body-kakao-14px-font-size: 14px;
  --body-kakao-14px-letter-spacing: 0px;
  --body-kakao-14px-line-height: 40px;
  --body-kakao-14px-font-style: normal;
  --body-kakao-12px-font-family: "Kakao OTF", Helvetica;
  --body-kakao-12px-font-weight: 400;
  --body-kakao-12px-font-size: 12px;
  --body-kakao-12px-letter-spacing: 0px;
  --body-kakao-12px-line-height: 40px;
  --body-kakao-12px-font-style: normal;
  --body-kakao-32px-font-family: "Kakao OTF", Helvetica;
  --body-kakao-32px-font-weight: 400;
  --body-kakao-32px-font-size: 32px;
  --body-kakao-32px-letter-spacing: 0px;
  --body-kakao-32px-line-height: 26px;
  --body-kakao-32px-font-style: normal;
  --body-kakao-24px-bold-font-family: "Kakao OTF", Helvetica;
  --body-kakao-24px-bold-font-weight: 700;
  --body-kakao-24px-bold-font-size: 24px;
  --body-kakao-24px-bold-letter-spacing: 0px;
  --body-kakao-24px-bold-line-height: 139.9999976158142%;
  --body-kakao-24px-bold-font-style: normal;
  --body-serif-18px-font-family: "Inria Serif", Helvetica;
  --body-serif-18px-font-weight: 400;
  --body-serif-18px-font-size: 18px;
  --body-serif-18px-letter-spacing: 0px;
  --body-serif-18px-line-height: 40px;
  --body-serif-18px-font-style: normal;
  --body-serif-14px-font-family: "Inria Serif", Helvetica;
  --body-serif-14px-font-weight: 400;
  --body-serif-14px-font-size: 14px;
  --body-serif-14px-letter-spacing: 0px;
  --body-serif-14px-line-height: 40px;
  --body-serif-14px-font-style: normal;
  --body-serif-12px-font-family: "Inria Serif", Helvetica;
  --body-serif-12px-font-weight: 400;
  --body-serif-12px-font-size: 12px;
  --body-serif-12px-letter-spacing: 0px;
  --body-serif-12px-line-height: 40px;
  --body-serif-12px-font-style: normal;
  --light-drop-shadow-1: 0px 1px 1px 0px rgba(0, 0, 0, 0.06);
  --variable-collection-button-white: rgba(255, 255, 255, 1);
  --variable-collection-button-lightyellow: rgba(250, 194, 104, 1);
  --variable-collection-line-orange: rgba(236, 159, 35, 1);
  --variable-collection-font-brown: rgba(255, 149, 56, 1);
  --variable-collection-border-grayup: rgba(173, 173, 173, 1);
  --variable-collection-input-yellow: rgba(252, 231, 174, 1);
  --variable-collection-background-gray: rgba(189, 189, 189, 1);
  --variable-collection-font-lightyellow: rgba(253, 205, 75, 1);
  --variable-collection-font-yellow2: rgba(229, 183, 55, 1);
}
