<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../../../../../../../UI/css/global/registerglobal.css" />
    <link rel="stylesheet" href="../../../../../../../../UI/css/style/registertyle.css" />
    <link rel="stylesheet" href="../../../../../../../../UI/css/styleguide/registerstyleguide.css" />
  </head>
  <body>
    <div class="register">
      <div class="div">
        <div class="group">
          <div class="group-2">
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="text-wrapper">이용약관</div>
                <div class="frame"><div class="text-wrapper-2">회원가입</div></div>
              </div>
            </div>
            <div class="text-wrapper-3">Welcome to YEAST..!</div>
          </div>
          <div class="frame-2">
            <div class="group-3">
              <img class="img" src="img/frame-1000006513.svg" />
              <p class="p"><span class="span">성별</span> <span class="text-wrapper-4">(필수)</span></p>
            </div>
            <div class="group-3">
              <div class="rectangle"></div>
              <div class="text-wrapper-5">직무</div>
            </div>
            <div class="group-4">
              <div class="text-wrapper-6">소속 사업장(필수)</div>
              <img class="img" src="img/image.svg" />
            </div>
            <div class="group-5">
              <div class="rectangle"></div>
              <div class="text-wrapper-6">사수(필수)</div>
            </div>
          </div>
          <div class="group-6">
            <div class="frame-3">
              <div class="frame-4">
                <div class="add-image">
                  <div class="group-7">
                    <img class="image" src="../../../../../../../../UI/project%20img/Profile.png">
                    <div class="upload-photo">프로필 사진</div>
                  </div>
                </div>
                <div class="group-8">
                  <div class="rectangle-2"></div>
                  <p class="div-2"><span class="span">이름</span> <span class="text-wrapper-4">(필수)</span></p>
                </div>
              </div>
              <div class="group-9">
                <div class="rectangle-3"></div>
                <p class="div-3"><span class="span">아이디</span> <span class="text-wrapper-4">(필수)</span></p>
              </div>
              <div class="group-9">
                <div class="rectangle-3"></div>
                <p class="div-3"><span class="span">비밀번호</span> <span class="text-wrapper-4">(필수)</span></p>
              </div>
              <div class="group-9">
                <div class="rectangle-3"></div>
                <p class="div-3"><span class="span">비밀번호 필수</span> <span class="text-wrapper-4">(필수)</span></p>
              </div>
            </div>
            <div class="frame-5">
              <div class="group-10">
                <div class="rectangle-3"></div>
                <p class="div-4"><span class="span">이메일</span> <span class="text-wrapper-4">(필수)</span></p>
              </div>
              <div class="group-11">
                <div class="rectangle-3"></div>
                <p class="div-3"><span class="span">생년월일</span> <span class="text-wrapper-4">(필수)</span></p>
              </div>
              <div class="group-11">
                <div class="rectangle-3"></div>
                <p class="div-3"><span class="span">전화번호</span> <span class="text-wrapper-4">(필수)</span></p>
              </div>
              <div class="group-11">
                <div class="rectangle-3"></div>
                <p class="div-3"><span class="span">주소</span> <span class="text-wrapper-4">(필수)</span></p>
              </div>
            </div>
          </div>
          <div class="div-wrapper"><div class="text-wrapper-7">회원가입</div></div>
        </div>
        <div class="view"><img class="logo" src="../../../../../../../../UI/project%20img/logo.png" /> <img class="logo-2" src="../../../../../../../../UI/project%20img/logo3.png" /></div>
      </div>
    </div>
  </body>
</html>
