
body{
    margin:0;
    padding:0;
}

#Main {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
    position: relative;
}

#Form {
    width: 100%;
    height: 800.08px;
    top: 90px;
    position: absolute
}

#Form .Bg {
    width: 1242.96px;
    height: 800.08px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    position: absolute;
    background: white;
    border-radius: 14px;
    border: 0.30px #EC9F23 solid
}

#Form .Pre {
    width: 118px;
    height: 63px;
    padding: 10px;
    left: 1101.59px;
    top: 23.72px;
    position: absolute;
    background: #FFAA22;
    border-radius: 10px;
    outline: 1px #EC9F23 solid;
    outline-offset: -1px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

#Form .Pre div {
    width: 54px;
    color: white;
    font-size: 32px;
    font-family: Kakao OTF;
    font-weight: 700;
    line-height: 35px;
    word-wrap: break-word
}

#Form .Button {
    width: 521px;
    left: 698.59px;
    top: 713.72px;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    gap: 26px;
    display: inline-flex
}

#Form .Button .Update {
    width: 118px;
    height: 63px;
    padding: 10px;
    background: #FFAA22;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex
}

#Form .Button .Update div {
    color: white;
    font-size: 32px;
    font-family: Kakao OTF;
    font-weight: 700;
    line-height: 35px;
    word-wrap: break-word
}

#Form .Button .Delete {
    width: 118px;
    height: 63px;
    padding: 10px;
    background: #EF3826;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex
}

#Form .Button .Delete div {
    color: white;
    font-size: 32px;
    font-family: Kakao OTF;
    font-weight: 700;
    line-height: 35px;
    word-wrap: break-word
}

#Write {
    left: 113.59px;
    top: 68.72px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 111px;
    display: inline-flex
}

#Column1 {
    width: 395.92px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    display: inline-flex
}

#Image {
    align-self: stretch;
    height: 287px;
    padding-left: 103px;
    padding-right: 103px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

#Image .ImageIn {
    width: 370px;
    height: 287px;
    padding: 10px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
    border-radius: 5px;
    outline: 1px var(--Button-LightYellow, #FAC268) solid;
    outline-offset: -1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

#Image .ImageIn .Circle {
    width: 78px;
    height: 78px;
    left: 146.41px;
    top: 104.28px;
    position: absolute
}

#Image .ImageIn .Circle .Subtract {
    width: 78px;
    height: 78px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #C8C8C8
}

#Image .ImageIn .font {
    width: 142px;
    height: 47px;
    left: 114.41px;
    top: 60px;
    position: absolute;
    text-align: center;
    color: #575757;
    font-size: 24px;
    font-family: Kakao OTF;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word
}


.Title {
    align-self: stretch;
    height: 36px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #606060;
    font-size: 16px;
    font-family: Kakao OTF;
    font-weight: 700;
    line-height: 22.40px;
    word-wrap: break-word
}

.Input {
    align-self: stretch;
    height: 55.92px;
    position: relative;
    background: #F5F6FA;
    outline: 1px #EC9F23 solid;
    outline-offset: -1px
}

.Input .Hint {
    left: 10px;
    top: 16.92px;
    position: absolute;
    color: #5C5C5C;
    font-size: 20px;
    font-family: Kakao OTF;
    font-weight: 400;
    word-wrap: break-word
}


#Name {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

#Id {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

#Address {
    width: 392.51px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

#Column2 {
    width: 396px;
    height: 604px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 11px;
    display: inline-flex
}

#Password {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

#Email {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

#Phone {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

#Birth {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

#Job {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex
}

#Split {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    display: inline-flex
}

#Branch {
    width: 178px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex
}

#Branch .Title {
    align-self: stretch;
    height: 36px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #606060;
    font-size: 16px;
    font-family: Kakao OTF;
    font-weight: 700;
    line-height: 22.40px;
    word-wrap: break-word
}

#Branch .Input {
    align-self: stretch;
    height: 55.92px;
    position: relative;
    background: #F5F6FA;
    outline: 1px #EC9F23 solid;
    outline-offset: -1px
}

#Branch .Input .Hint {
    left: 10px;
    top: 16.92px;
    position: absolute;
    color: #5C5C5C;
    font-size: 20px;
    font-family: Kakao OTF;
    font-weight: 400;
    word-wrap: break-word
}

#Position {
    width: 178px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex
}

#Position .Title {
    align-self: stretch;
    height: 36px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #606060;
    font-size: 16px;
    font-family: Kakao OTF;
    font-weight: 700;
    line-height: 22.40px;
    word-wrap: break-word
}

#Position .Input {
    align-self: stretch;
    height: 55.92px;
    position: relative;
    background: #F5F6FA;
    outline: 1px #EC9F23 solid;
    outline-offset: -1px
}

#Position .Input .Hint {
    left: 10px;
    top: 16.92px;
    position: absolute;
    color: #5C5C5C;
    font-size: 20px;
    font-family: Kakao OTF;
    font-weight: 400;
    word-wrap: break-word
}

#Gender {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

#Gender .Title {
    align-self: stretch;
    height: 36px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #606060;
    font-size: 16px;
    font-family: Kakao OTF;
    font-weight: 700;
    line-height: 22.40px;
    word-wrap: break-word
}

#Gender .Input {
    align-self: stretch;
    height: 55.92px;
    position: relative;
    background: #F5F6FA;
    outline: 1px #EC9F23 solid;
    outline-offset: -1px
}

#Gender .Input .Select {
    width: 150.24px;
    left: 10px;
    top: 16.92px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: inline-flex
}

#Gender .Input .Select .Hint {
    color: #5C5C5C;
    font-size: 20px;
    font-family: Kakao OTF;
    font-weight: 400;
    word-wrap: break-word
}

#Gender .Input .Select .Icon {
    width: 13.24px;
    height: 7.89px;
    background: #5C5C5C
}